.homepage2-body .header-area.homepage2 .header-elements .main-menu ul li a {
    padding: 0 22px;
}

@media (max-width: 1200px) {

  .homepage2-body .header-area.homepage2 .header-elements .main-menu ul li a {
    padding: 0 6px;
  }

  .homepage2-body .header-area.homepage2 .header-elements .main-menu ul li a {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1400px) {

  .homepage2-body .header-area.homepage2 .header-elements .main-menu ul li a {
    padding: 0 12px;
  }
}